<ng-container *ngIf="events" [formGroup]="parentForm">
  <ng-container formArrayName="filters">
    <div *ngFor="let filter of filters.controls; index as i" formGroupName="{{ i }}">
      <mat-card-actions>

        <!-- event start -->
        <mat-form-field appearance="fill">
          <mat-label>Select Event</mat-label>
          <mat-select (selectionChange)="getSelectedEventProperties($event)" formControlName="eventType">
            <mat-option *ngFor="let event of events.data.events" [value]="event.type">{{ event.type }}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- event end -->

        <!-- props start -->
        <app-customer-filter-properties [eventProperties]="eventProperties" [filtersIndex]="i" [filters]="filters"></app-customer-filter-properties>
        <!-- props end -->

      </mat-card-actions>
    </div>
  </ng-container>
</ng-container>


<!-- <pre> {{ events | json }}</pre> -->
