<div class="customer-filter">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Filters</mat-card-title>
    </mat-card-header>
    <form [formGroup]="filterForm">
      <app-filter-steps
        (deleteFilterStepEvent)="deleteFilter($event)">
      </app-filter-steps>
      <button (click)="addNewFilter()" mat-raised-button color="primary">Add New Step</button>
      <mat-card-actions>
        <button (click)="onClickSubmit()" mat-raised-button color="primary">Filter</button>
      </mat-card-actions>
    </form>
  </mat-card>
  <br>
  <mat-card>
    <ng-container *ngIf="finalForm">
      <mat-card-title>Console log:</mat-card-title>
      <pre>{{finalForm | json }}</pre>
    </ng-container>
  </mat-card>
</div>
